<!-- views/pages/index.ejs -->
<% include ../../../partials/header %>

<div id="details"></div>

<script>
    //Sætter vars til id og url
    const id = <%= id %>;
    const url = '/api/product/' + id;

    //Fetcher data fra API
    fetch(url)
        .then(data => {
            return data.json();
        })
        .then(data => {
                body: JSON.stringify({
                    price: currencyToHuman(data[0].price)
                })
                let captions = {
                    'title': 'Titel',
                    'item_number': 'Varenummer',
                    'description_short': 'Kort beskrivelse',
                    'description_long': 'Lang beskrivelse',
                    'image': 'Billede',
                    'price': 'Pris',
                    'stock': 'Lagerbeholdning',
                    'active': 'Aktiv',
                    'brand_title': 'Mærke'
                }

                //Læs tilhørende produktgrupper 
                const urlpg = '/api/productgroup/' + id;
                fetch(url)
                .then(data => {
                    return data.json();
                })
                .then(data => {
                    
                }
                    //Bygger html table med data og injecter det i div#details 
                    let html = `<table class="table">`;
                    for (const item in data[0]) {
                        if (captions[item]) {
                            html += `<tr>
                                <td width="15%"><b>${captions[item]}:</b></td>
                                <td>${data[0][item]}</td>
                            </tr>`;
                        }
                    }
                    html += `</table>`; document.getElementById('details').innerHTML = html;
                });

            //Udskriver knapper til Oversigt og Rediger via Javascripts createElement
            doButton('/admin/product/update/' + id, 'Rediger', 'buttonpanel'); doButton('/admin/product/list',
                'Oversigt', 'buttonpanel');
</script>

<% include ../../../partials/footer %>