<% include ../../../partials/header %>    

<form id="form">
    <fieldset>
        <div class="form-group" data-group="firstname">
            <label class="col-sm-2 control-label required" for="firstname">Fornavn:</label>
            <div class="col-sm-10">
                <input class="form-control" name="firstname" id="firstname" value="">
            </div>
        </div>    
        <div class="form-group" data-group="lastname">
            <label class="col-sm-2 control-label required" for="lastname">Efternavn:</label>
            <div class="col-sm-10">
                <input class="form-control" name="lastname" id="lastname" value="">
            </div>
        </div>    
        <div class="form-group" data-group="email">
            <label class="col-sm-2 control-label required" for="email">Email:</label>
            <div class="col-sm-10">
                <input class="form-control" type="email" name="email" id="email" value="">
            </div>
        </div>    
        <div class="form-group" data-group="password">
            <label class="col-sm-2 control-label required" for="password">Adgangskode:</label>
            <div class="col-sm-10">
                <input class="form-control" type="password" name="password" id="password" value="">
            </div>
        </div>    
        <div class="form-group">
            <button type="button" id="formsubmit" class="btn btn-success">Gem</button>
        </div>
    </fieldset>
</form>

<script>
    //Sætter var til id og form objekt
    const form = document.querySelector('form');

    //Sætter klik event på formens Gem knap.
    document.getElementById('formsubmit').onclick = () => {
        //Sætter var til url
        const url = '/api/user/';

        //Sætter fetch settings med POST metode, headers og form data
        const fetchSettings = {
            method: 'POST',
            headers: new Headers({
                'Content-Type': 'application/json'
            }),
            body: JSON.stringify({
                firstname: form.firstname.value,
                lastname: form.lastname.value,
                email: form.email.value,
                password: form.password.value
            })
        }

        //Fetcher data til api og tjekker respons. Redirecter til details Hvis ok (200) 
        fetch(url, fetchSettings)
            .then(res => { 
                return res.json();
            }).then(data => {
                if(data.id) {
                    location.replace('/admin/user/details/' + data.id);
                }
            }).catch(err => {
                console.error(err);
            });
    }

    //Opretter knap til oversigt 
    let btn = document.createElement('a');
    btn.setAttribute('class', 'btn btn-dark');
    btn.setAttribute('href', '/admin/user/index');
    btn.innerHTML = 'Oversigt';
    document.getElementById('buttonpanel').appendChild(btn);    
</script>

<% include ../../../partials/footer %>