<% include ../../../partials/header %>    

<div id="list"></div>

<script>
    //Sætter var til url
    const url = "/api/user/";

    //Fetcher data fra API
    fetch(url)
        .then(data => {
            return data.json();
        })
        .then(data => {
            //Lopper data og bygger tabel med data og CRUD ikoner (rediger, detaljer, slet)
            let html = `<table class="table">
                            <thead>
                                <tr>
                                    <th width="15%">Handling</th>
                                    <th>Navn</th>
                                    <th>Email</th>
                                </tr>
                            </thead>`;

            for(var item of data) {
                html += `<tr> 
                            <td> 
                                <a class="icon" href="/admin/user/update/${item.id}" title="Rediger">
                                    <i class="fas fa-pencil-alt"></i></a>
                                <a class="icon" href="/admin/user/details/${item.id}" title="Se detaljer">
                                    <i class="fas fa-info-circle"></i></a> 
                                <a class="icon" href="/admin/user/delete/${item.id}" title="Slet">
                                    <i class="fas fa-trash-alt"></i></a>
                            </td>
                            <td>${item.firstname} ${item.lastname}</td>
                            <td>${item.email}</td>
                        </tr>`;
            }
            html += `</table>`;

            //Injecter html table i div#list
            document.getElementById('list').innerHTML = html;
        });

        //Udskriver knap til Opret ny
        let btn = document.createElement('a');
        btn.setAttribute('class', 'btn btn-dark');
        btn.setAttribute('href', '/admin/user/create');
        btn.innerText = 'Opret ny';
        document.getElementById('buttonpanel').appendChild(btn);

</script>

<% include ../../../partials/footer %>