<% include ../../../partials/header %>

<form id="form">
<fieldset>

<div class="form-group" data-group="title">
    <label class="col-sm-2 control-label required" for="title">Titel:</label>
    <div class="col-sm-10">
        <input class="form-control" name="title" id="title" value="">
    </div>
</div>
<div class="form-group" data-group="parentid">
    <label class="col-sm-2 control-label required" for="parentid">Tilhører:</label>
    <div class="col-sm-10" id="parentid">
        
        
    </div>
</div>
<div class="form-group" data-group="description">
    <label class="col-sm-2 control-label required" for="description">Beskrivelse:</label>
    <div class="col-sm-10">
        <textarea class="form-control" name="description" id="description"></textarea>
    </div>
</div>
<div class="form-group">
    <button type="button" id="formsubmit" class="btn btn-default">Gem</button>
</div>
</fieldset>


</form>

<script>
    // sætter vars til id og url 
    const form = document.querySelector('form');
    const urlp = '/api/productgroup/p0';

    fetch(urlp)
    .then(data => {
        return data.json();
    })
    .then(data => {

        let html = `<select class="form-control" name="parentid" id="parentid">`;
        html += `<option value="${0}">Ingen gruppe</option>`      
        for (var item of data) {
            html += `<option value="${item.id}">${item.title}</option>`;           
        }
        html += ' </select>';
        document.getElementById('parentid').innerHTML = html;
    });

    document.getElementById('formsubmit').onclick = () => {
        const url = '/api/productgroup/';

        const fetchSettings = {
            method: 'POST', 
            headers: new Headers({
                'Content-type': 'application/json'
            }), 
            body: JSON.stringify ({
                title: form.title.value, 
                parentid: form.parentid.value,
                description: form.description.value
            })
        }

        fetch(url, fetchSettings) 
        .then(res => { 
                return res.json();
            })
            .then(data => {
                if(data.id) {
                    document.location.href = '/admin/productgroup/details/' + data.id;
                }
            }).catch(err => {
                console.error(err);
            });

    }
    let btn = document.createElement('a');
    btn.setAttribute('class', 'btn btn-default');
    btn.setAttribute('href', '/admin/productgroup/list');
    btn.innerHTML = 'Oversigt';
    document.getElementById('buttonpanel').appendChild(btn);

          
</script>

<% include ../../../partials/footer %>