<% include ../../../partials/header %>

<div id="details"></div>


<script>
    // sætter vars til id og url 
  
    const id = <%= id %>;
    const url = '/api/productgroup/' + id;
    
    
   
    fetch(url) 
        .then(data => {
            return data.json();
        })
        .then(data => {

           if (data[0].parent_id == 0) {
                parTitel = " ";

                let html = `<table class="table"> 
              
                <tr> 
                <td width="15%"><b>Titel</b></td>
                <td>${data[0].title}</td> 
                </tr>` 
                html += `<tr> 
                <td width="15%"><b>Tilhører</b></td>
                <td>${parTitel}</td> 
                </tr> `
                html += `<tr> 
                <td><b>Beskrivelse</b></td>
                <td>${data[0].description}</td> 
                </tr> 
                </table>
                `;
            
                document.getElementById('details').innerHTML = html;
            } else {   
               
                const urlp = '/api/productgroup/' + data[0].parent_id;
                fetch(urlp)
                    .then(datap => {
                        return datap.json();
            
                    })
                    .then (datap => {
                        let html = `<table class="table"> 
              
                        <tr> 
                        <td width="15%"><b>Titel</b></td>
                        <td>${data[0].title}</td> 
                        </tr>` 
                        html += `<tr> 
                        <td width="15%"><b>Tilhører</b></td>
                        <td>${datap[0].title}</td> 
                        </tr> `
                        html += `<tr> 
                        <td><b>Beskrivelse</b></td>
                        <td>${data[0].description}</td> 
                        </tr> 
                        </table>
                        `;
                    
                        document.getElementById('details').innerHTML = html;
                               
                    })
                
            };
           
           
            
            
            })
          
            //Udskriver knapper til Oversigt og Rediger via Javascripts createElement
        
            let btnedit = document.createElement('a');
            btnedit.setAttribute('class', 'btn btn-default');
            btnedit.setAttribute('href', '/admin/productgroup/update/' + id);
            btnedit.innerHTML = 'Opdater';
            document.getElementById('buttonpanel').appendChild(btnedit);

            let btn = document.createElement('a');
            btn.setAttribute('class', 'btn btn-default');
            btn.setAttribute('href', '/admin/productgroup/list');
            btn.innerHTML = 'Oversigt';
            document.getElementById('buttonpanel').appendChild(btn);  

    function parentHtml(par) {
      
        parTitel = " ";
        html += `<tr> 
        <td width="15%"><b>Tilhører</b></td>
        <td>${parTitel}</td> 
        </tr> `
        
    }
        
</script>

<% include ../../../partials/footer %>